{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="container mt-3">
    <div class="row">
      <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
            <i class="bi bi-house"></i>
            Dashboard
        </a>
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
            <i class="bi bi-clipboard2-data"></i>
            GeoComerce
        </a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
            <i class="bi bi-sliders"></i>
            Configuración
        </a>
        </div>
      </div>
      <div class="col-6">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                    <table class="table">
                        <thead class="bg-primary text-white">
                          <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Latitud</th>
                            <th scope="col">Longitud</th>
                            <th scope="col">Estado</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for row in top_5_data %}
                            <tr>
                                <td>{{ row.d_codigo }}</td>
                                <td>{{ row.Latitud }}</td>
                                <td>{{ row.Longitud }}</td>
                                <td>{{ row.c_estado }}</td>
                            <tr>
                            {% endfor %}
                        </tbody>
                      </table>


        </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <form>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="InputCodigo" class="font-weight-bold">Código Postal</label>
                            <input type="text" class="form-control" id="InputCodigo" value="01000">
                        </div>
                    </div>
                    <div class="col-8">
                      <div class="form-group">
                        <label for="formControlRange" class="font-weight-bold" id="formControlRangeLabel" >Distancia(Km): 10</label>
                        <input type="range" class="form-control-range custom-range" id="formControlRange" value="10" min="1" max="20">
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="FormControlSelectActividad" class="font-weight-bold">Actividad Economica</label>
                            <select class="form-control" id="FormControlSelectActividad">
                              <option>Tiendas de conveniencia</option>
                              <option>Tiendas super 7 y gasolineras</option>
                              <option>Oxxos</option>
                              <option>Comiderias de tacos</option>
                            </select>
                          </div>
                    </div>
                </div>
            </form>
          </div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            Settings content...
          </div>
        </div>
      </div>
    </div>
  </div>


  <script>
    document.getElementById('formControlRange').addEventListener('input', function () {
      document.getElementById('formControlRangeLabel').textContent = "Distancia(Km): " + this.value;
    });

    var codigoPostal = document.getElementById('InputCodigo')
    console.log("Codigo: " + codigoPostal.value);

    document.getElementById('InputCodigo').addEventListener('input', function () {
      console.log("Codigo: " + this.value);
    });

    document.getElementById('FormControlSelectActividad').addEventListener('input', function () {
      console.log("Actividad economica:" + this.value);
    });

  window.addEventListener('load', () => {
    getActividadesEconomicas();
  });

  function getActividadesEconomicas(){
    var codigoPostal = document.getElementById('InputCodigo')?.value
    var radio = document.getElementById('formControlRange')?.value

    fetch(`/get_actividades/${codigoPostal}/${radio}/`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
  }

  </script>

{% endblock %}