{% extends "base.html" %}

{% block content %}
{% load static %}

<table>
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for row in top_5_data %}
            <tr>
                <td>{{ row.d_codigo }}</td>
                <td>{{ row.Latitud }}</td>
                <td>{{ row.Longitud }}</td>
                <td>{{ row.c_estado }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}