{% extends "base.html" %}

{% block content %}
{% load static %}
 
    <div class="hero">
    <div class="container">
    <div class="row justify-content-between align-items-center">
    <div class="col-lg-5 mb-5 mb-lg-0">
    <div class="mb-5">
    <h1 class="mb-4 aos-init aos-animate" data-aos="fade-up">Explora comercios y oportunidades de negocio.</h1>
    <p class="mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
      Utiliza nuestra plataforma para identificar y analizar competidores y oportunidades comerciales en diferentes ubicaciones geográficas, optimizando tu estrategia de negocio con datos precisos y actualizados.
    </p>
    <p data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">
      <a href="" class="btn btn-primary" style="width: 150px; border-radius: 30px; padding: 10px;">Empezar</a>
    </p>
    </div>
    <div class="row gutter-v1">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
    <div class="feature">
    <div class="mb-3 icon-wrap">
      <i class="bi bi-database-fill-check" style="font-size: 3rem;"></i>
    </div>
    <h3>Alta Calidad y Análisis Preciso de Datos</h3>
    <p>Información accesible y de primera mano</p>
    </div>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
    <div class="feature">
    <div class="mb-3 icon-wrap">
      <i class="bi bi-graph-up-arrow" style="font-size: 3rem;"></i>
    </div>
    <h3>Alta Calidad en Visualización</h3>
    <p>Estadisticas valiosas mediante herramientas de Bussiness Intelligence</p>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="bg"></div>
    <figure>
    <img src="{%static 'img/hero_1.jpg' %}" alt="Image" class="img-fluid aos-init aos-animate" data-aos="fade-up">
    <div class="quote aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
    <blockquote>
      "Nuestra herramienta facilita a los usuarios la búsqueda y filtrado de información accesible y de primera mano para el análisis de mercado, detección de competencia, identificación de lugares de ocio y visualización de oportunidades comerciales."</blockquote>
    <div class="author">
    <strong class="d-block">Hector, Rene, Victor, Melkin</strong>
    <span>Estudiantes UNIR</span>
    </div>
    </div>
    </figure>
    </div>
    </div>
    </div>
    </div>
    <div class="achievements">
    <div class="container">
    <div class="row">
    <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
    <div class="numbers">
    <strong class="number">98.7%</strong>
    <h4>Usuarios satisfechos con la precisión de la información.</h4>
    <p>Información precisa y actualizada, lo que mejora la toma de decisiones comerciales</p>
    </div>
    </div>
    <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
    <div class="numbers">
    <strong class="number">10,000+</strong>
    <h4>Consultas exitosas realizadas a través de la plataforma</h4>
    <p>La herramienta ha sido utilizada para miles de búsquedas de comercios.</p>
    </div>
    </div>
    <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
    <div class="numbers">
    <strong class="number">99.8%</strong>
    <h4>Tasa de disponibilidad de la plataforma.</h4>
    <p>Nuestro sistema garantiza una alta disponibilidad, asegurando que los usuarios puedan acceder a la información en cualquier momento.</p>
    </div>
    </div>
    <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
    <div class="numbers">
    <strong class="number">500+</strong>
    <h4>Estudios de mercado realizados por empresas</h4>
    <p>Numerosas empresas han confiado en nuestra plataforma para realizar análisis detallados y mejorar sus estrategias comerciales.</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="how-it-works">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-7 section-title text-center mb-5">
    <strong class="subtitle aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">Como funciona</strong>
    <h2 class="heading aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
      Integración y transformación de los datos masivos del DENUE proporcionados por el INEGI mediante herramientas avanzadas de Big Data,
    </h2>
    </div>
    </div>
    <div class="row gutter-v1 align-items-center">
    <div class="col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
    <div class="step">
    <div class="mb-4 icon-wrap">
      <i class="bi bi-terminal-plus" style="font-size: 3rem;"></i>
    </div>
    <h3>1. Ingresa a la plataforma</h3>
    <p>Ingresa en nuestra plataforma, para comenzar a analizar el mercado y tus competidores.</p>
    <div class="line">
    <svg width="121px" height="59px" viewBox="0 0 121 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-dasharray="3">
    <g id="Group" transform="translate(1.000000, 0.000000)" stroke="#979797" stroke-width="2">
    <path d="M0.2109375,12.8632812 C20.0091146,26.8632812 39.8072917,33.8632812 59.6054687,33.8632812 C79.4036458,33.8632812 99.2018229,26.8632812 119,12.8632812" id="Path-2"></path>
    <polyline id="Path-3" points="75.1103516 0.977539062 119.116211 13.3417969 105.357422 60.8583984"></polyline>
    </g>
    </g>
    </svg>
    </div>
    </div>
    </div>
    <div class="col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
    <div class="step">
    <div class="mb-4 icon-wrap">
      <i class="bi bi-search-heart" style="font-size: 3rem;"></i>
    </div>
    <h3>2. Busca y configura a tu gusto</h3>
    <p>Busca códigos postales, configura radios de búsqueda, filtra por actividades economicas y más.</p>
    <div class="line">
    <svg width="121px" height="64px" viewBox="0 0 121 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-dasharray="3">
    <g id="Group-2" transform="translate(1.000000, 0.000000)" stroke="#979797" stroke-width="2">
    <path d="M0.2109375,21.8632812 C20.0091146,35.8632812 39.8072917,42.8632812 59.6054687,42.8632812 C79.4036458,42.8632812 99.2018229,35.8632812 119,21.8632812" id="Path-2-Copy" transform="translate(59.605469, 32.363281) rotate(-180.000000) translate(-59.605469, -32.363281) "></path>
    <polyline id="Path-3" transform="translate(91.581055, 37.226562) rotate(48.000000) translate(-91.581055, -37.226562) " points="69.578125 7.28613281 113.583984 19.6503906 99.8251953 67.1669922"></polyline>
    </g>
    </g>
    </svg>
    </div>
    </div>
    </div>
    <div class="col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
    <div class="step">
    <div class="mb-4 icon-wrap">
      <i class="bi bi-file-earmark-bar-graph" style="font-size: 3rem;"></i>
    </div>
    <h3>3. Analiza los datos</h3>
    <p>Con nuestras herramientas obten insights valiosos sobre la ubicación de comercios, áreas de oportunidad y mejora tu estrategia empresarial.</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="services-section">
    <div class="container">
    <div class="row justify-content-between">
    <div class="col-lg-4 mb-5 mb-lg-0">
    <div class="section-title mb-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
    <strong class="subtitle">Servicios</strong>
    <h2 class="heading">Explora comercios y oportunidades de negocio</h2>
    </div>
    <p data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">
      Con nuestra plataforma dejamos volar tu imaginación, puedes aprovechar los múltiples usos para diversas áreas.
      <ul class="list-check list-unstyled mb-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
    <p class="mb-0">
      <i class="bi bi-check2"></i>
      Marketing y publicidad dirigida.
    </p>
    <p class="mb-0">
      <i class="bi bi-check2"></i>
      Análisis de competencia.
    </p>
    <p>
      <i class="bi bi-check2"></i>
      Turismo y ocio.
    </p>
    </ul>
    <p data-aos="fade-up" data-aos-delay="300" class="aos-init aos-animate">
      <a href="#" class="btn btn-primary" style="border-radius: 30px; width: 150px; padding: 10px;">Empezar</a>
    </p>
    </div>
    <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
    <figure class="img-wrap-2">
    <img src="{% static 'img/hero_2.jpg' %}" alt="Image" class="img-fluid">
    <!-- <div class="dotted"></div> -->
    </figure>
    </div>
    </div>
    </div>
    </div>
    
    </div>
    </div>

{% endblock %}